deepspeech==0.9.3
PyAudio==0.2.11

gdown
numpy>=1.16.0
torch>=1.5
librosa>=0.5.1
Unidecode>=0.4.20
matplotlib
Pillow
flask
scipy
tqdm
soundfile
phonemizer
bokeh==1.4.0
inflect==5.3.0
sounddevice==0.4.1

rasa==2.4.2